---
import Layout from "../components/Layout.astro"

---
<Layout title="Home | OC SelfBot">
	<h1 class="text-2xl font-bold font-mono text-center mt-4">🏠 Home</h1>
	<div class="mt-10 text-xs md:text-lg font-mono w-full flex flex-col justify-center items-center">
		オープンチャット セルフボット(以下 OC半bot) のサポートページへようこそ。 <br />
		OC半bot はオープンチャットで動作するbotです。
	</div>
</Layout>
