---
import Layout from "../components/Layout.astro"

---
<Layout title="Home | OC SelfBot">
	<h1 class="text-2xl font-bold font-mono text-center mt-4">🏠 Home</h1>
	<div class="mt-10 text-sm w-full flex flex-col justify-center items-center">
		オープンチャット半ボット(以下 半bot) のサポートページへようこそ。
		
	</div>
</Layout>
